@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Oswald&display=swap');

:root{
    --violet: rgb(94, 50, 169);
    --green: rgb(2, 99, 93);

}

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f3f3f3;
}

h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}

.color-violet{
    color: var(--violet);
}

.color-green{
    color: var(--green);
}

.color-lightgrey{
    color: #FFFFFF8C;
}

.color-lightgrey:hover{
    color: white;
}

.bg-violet{
    background-color: var(--violet);
}

.bg-green{
    background-color: var(--green);
}

.green-btn:hover{
    box-shadow: 0px 0px 10px 3px rgb(94, 50, 169, 0.5);
    transition: 0.4s;
}

.text-gradient{
    background: var(--violet);
    background: linear-gradient(to right, var(--violet), var(--green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar{
    transition: 0.4s;
}

.credit-card{
    border: 2px solid var(--violet);
    border-radius: 5px;
    width: 350px;
    height: 220px;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), linear-gradient(var(--violet), var(--green));
    position: relative;
    box-shadow: 8px 4px 15px -12px var(--violet);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-article:hover{
    transform: scale(1.10);
    transition: 0.4s;
}

/* i{
    position: relative;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-gradient::after{
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--violet);
    position: absolute;
   
} */

footer{
    background-color: var(--green);
    background-size: cover;
    color: #FFFFFF8C;
}

.modal-form{
    border: none !important;
    border-bottom: var(--violet) 3px solid !important;
    
}

.form-check-input:checked {
    background-color: var(--green);
    border-color: var(--violet);
}